<header class="inicio--header">
  <a class="recarga--arrow-back" routerLink="/login"
    ><mat-icon>arrow_back</mat-icon></a
  >
  <div class="inicio--title">Acesso à Conta</div>
</header>

<div class="acesso-a-conta--container">
  <div>Agência sem dígito: *49</div>
  <div>Conta com dígito: ***53-6</div>
  <div>Titularidade: 1o titular</div>
</div>

<div class="acesso-a-conta--form">
  <div>Qual é a senha?</div>
  <input type="password" />
  <div class="acesso-a-conta--form-bottom-label">4 dígitos</div>
  <a href="#" class="acesso-a-conta--form-bottom-link"
    >Esqueci ou não tenho uma senha</a
  >

  <div>
    <button><a routerLink="/inicio">continuar</a></button>
  </div>
</div>
