<header class="inicio--header">
  <div class="inicio--menu-icon">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="inicio--logo"></div>

  <mat-icon>notifications</mat-icon>
</header>
<div class="inicio--dashboard">
  <div class="inicio--dashboard-profile">
    <div class="inicio--dashboard-profile-welcome">
      <mat-icon>person_outline</mat-icon>
      <div class="inicio--dashboard-profile-welcome-text">Olá, Minha Conta</div>
    </div>
    <mat-icon>logout</mat-icon>
  </div>

  <div class="inicio--dashboard-conta">
    <div class="inicio--dashboard-saldo">
      <div class="inicio--dashboard-text">Meu saldo disponível</div>
      <div class="inicio--dashboard-valor">
        <div>R$</div>
        <div class="inicio--dashboard-mask"></div>
        <mat-icon>remove_red_eye</mat-icon>
      </div>
    </div>

    <div class="inicio--dashboard-extrato">
      Ver extrato
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>

  <div class="inicio--dashboard-busca">
    <input placeholder="Fale com a BIA" />
    <button class="inicio--dashboard-busca-search">
      <mat-icon>search</mat-icon>
    </button>
    <button class="inicio--dashboard-busca-phone">
      <mat-icon>mic_phone</mat-icon>
    </button>
  </div>
</div>

<div class="inicio--conteudo">
  <div class="inicio--servicos">
    <div class="inicio--servico"><mat-icon>repeat</mat-icon>Transferências</div>
    <div class="inicio--servico"><mat-icon>paid</mat-icon>Pagamentos</div>
    <div class="inicio--servico"><mat-icon>grid_view</mat-icon>Pix</div>
    <a routerLink="/recargas"
      ><div class="inicio--servico">
        <mat-icon>phone_android</mat-icon>Recargas
      </div>
    </a>
    <div class="inicio--servico"><mat-icon>credit_card</mat-icon>Cartões</div>
    <div class="inicio--servico"><mat-icon>next_week</mat-icon>Empréstimos</div>
    <div class="inicio--servico"><mat-icon>moving</mat-icon>Investimentos</div>
    <div class="inicio--servico">
      <mat-icon>calendar_month</mat-icon>Agendamentos
    </div>
    <div class="inicio--servico"><mat-icon>repeat</mat-icon>Previdência</div>
    <div class="inicio--servico"><mat-icon>security</mat-icon>Seguros</div>
    <div class="inicio--servico"><mat-icon>money</mat-icon>Cheques</div>
    <div class="inicio--servico">
      <mat-icon>price_check</mat-icon>Capitalização
    </div>

    <div class="inicio-mais-servicos">
      <div>Mais serviços</div>
      <mat-icon>keyboard_arrow_up</mat-icon>
    </div>
  </div>
</div>
