<header class="inicio--header">
  <div class="inicio--menu-icon">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="inicio--logo"></div>

  <mat-icon>notifications</mat-icon>
</header>

<div class="login--conteudo">
  <div>
    <div class="login--minha-conta">
      Minha conta <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div class="login-dados">
      <div class="login-dados-agencia">Agência *49</div>
      <div class="login-dados-conta">Conta **53-6</div>
    </div>
  </div>

  <button class="login--button">
    <a class="recarga--arrow-back" routerLink="/acesso-a-conta"
      >acessar conta</a
    >
  </button>

  <div class="login--outros">
    <div class="login--outros-button">
      <mat-icon>lock_outline</mat-icon>
      Chave de<br />
      Segurança
    </div>
    <div class="login--outros-button bia">
      <mat-icon>chat</mat-icon>
      BIA
    </div>
    <div class="login--outros-button">
      <mat-icon>grid_view</mat-icon>
      PIX
    </div>
  </div>
</div>
