<header class="inicio--header">
  <a class="recarga--arrow-back" routerLink="/inicio"
    ><mat-icon>arrow_back</mat-icon></a
  >
  <div class="inicio--title">Recarga de Celular</div>
</header>

<div class="recarga--container">
  <div class="recarga--title">EFETUAR RECARGA DE CELULAR PRÉ-PAGO</div>

  <div class="recarga--saldo">
    <div class="recarga--moeda">R$</div>
    <div class="recarga--moeda-info">Saldo Disponível</div>
  </div>

  <div class="recarga--seleciona-conta-info">
    Selecione a conta que deseja debitar este valor
  </div>

  <div class="recarga--seleciona-conta-container">
    <div class="recarga--seleciona-conta-corrente">Conta-Corrente</div>
    <div class="recarga--seleciona-conta-poupanca">Conta-Poupança</div>
  </div>

  <div class="recarga--dados-celular">Dados do Celular</div>

  <div class="recarga--favorecidos">
    Lista de favorecidos cadastrados
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>

  <div class="recarga--form">
    <div style="width: 80px">
      <div class="recarga--titulo">DDD</div>

      <input style="width: 65px" />
    </div>

    <div style="margin-left: 10px">
      <div class="recarga--titulo">Telefone</div>

      <input />
    </div>
  </div>

  <div class="recarga--titulo">Operadora</div>

  <div class="recarga--form">
    <select>
      <option>Selecione uma opção</option>
      <option>Claro</option>
      <option>Oi</option>
      <option>Vivo</option>
      <option>Tim</option>
    </select>
  </div>

  <div class="recarga--disponiveis">
    Limites disponíveis
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>

  <div class="recarga--titulo">Data da Recarga</div>
  <div class="recarga--data">Hoje (29/09/2022)</div>

  <div class="recarga--button-next">
    Continuar<mat-icon>arrow_forward_ios</mat-icon>
  </div>
</div>
